<style>
  .newspaper {
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    -webkit-column-fill: balance;
  }
  
  h2 {
    -webkit-column-span: all;
    /* Chrome, Safari, Opera */
    column-span: all;
  }
  
  img {
    width: 50%;
    height: 50%;
  }
</style>
<!-- Create contract  -->
<div class="panel">
  <div class="panel-heading">
    <center><img src="partials/Captialu.png" alt="cu" align="center"> </center>
  </div>
</div>
<div class="container" ng-show="theuser">

  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Contract Creation</h3>
    </div>
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="sendContract()" class="form-horizontal">
        <div class="form-group">
          <label for="address">Name</label>
          <input type="text" name="name" id="name" placeholder="Contract name" class="formlogin" ng-model="contract.name">
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2">Total Amount of Shares</label>
          <div class="col-sm-8">
            <input type="number" name="quantity" min="1" max="999999" class="formlogin" ng-model="contract.totalShares" placeholder="Number of shares in total" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2">Amount of Shares To Be Sold</label>
          <div class="col-sm-8">
            <input type="number" name="quantity" min="1" max="{{contract.totalShares}}" class="formlogin" ng-model="contract.numOfShares" placeholder="Number of shares to be sold" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2">Cost per Share</label>
          <div class="col-sm-8">
            <input type="number" name="quantity" min="1" max="999999" class="formlogin" ng-model="contract.pricePerShare" placeholder="Cost of share (in Ether)" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="time" class="col-sm-2">Duration of Sale</label>
          <div class="col-sm-8">
            <input type="number" name="quantity" min="1" max="86500" class="formlogin" ng-model="contract.duration" placeholder="Time in minutes">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="w3-btn-block w3-green w3-animate-opacity">Send</button>
          </div>
        </div>
      </form>
      <div class="panel">
        <div ng-show="businessContracts.length != 0" style="margin-bottom: 70px;">
          <div class="panel-body" ng-repeat="contract in businessContracts">
            <div class="form-group">
              <h5><b>NAME:</b> {{contract.name}}</h5>
              <h6><b>SALE ADDRESS:</b> {{contract.saleAddress}}</h6>
              <h6><b>SHARE ADDRESS:</b> {{contract.shareAddress}}</h6>
              <h6><b>SHAREHOLDER ADDRESS:</b> {{contract.shareholderAddress}}</h6>
              <h5><b>PRICE PER SHARE:</b> {{contract.pricePerShare}} Ether</h5>
              <h5><b>TIME DURATION:</b> {{contract.duration}}</h5>
              <h5><b>NUMBER OF SHARES:</b> {{contract.numOfShares}}</h5>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="contracts.length != 0">
  <div ng-repeat="contract in contracts">
    <!-- loop through contracts -->
    <div class="panel">
      <div class="panel-body">
        <div class="form-group">
          <h4><b>BUSINESS NAME:</b> {{contract.businessname}}</h4>
          <h6><b>SALE ADDRESS:</b> {{contract.saleAddress}}</h6>
          <h6><b>SHARE ADDRESS:</b> {{contract.shareAddress}}</h6>
        </div>

      </div>
      <div class="table">
        <div class="row" style="height: 250px;">
          <div class="col-sm-5 col-sm-offset-2">

            <div class="panel-body">
              <h5><b>NAME:</b> {{contract.name}}</h5>
              <h5><b>PRICE PER SHARE:</b> {{contract.pricePerShare}} Ether</h5>
              <h5><b>TIME DURATION:</b> {{contract.duration}}</h5>
              <h5><b>NUMBER OF SHARES:</b> {{contract.numOfShares}}</h5>
            </div>

          </div>

          <div class="col-sm-5">
            <canvas id="businessInfoChart" class="chart chart-line" chart-data="contract.chartData" chart-labels="contract.chartLabels" chart-options="chartOptions" chart-dataset-override="datasetOverride" width="700" height="300" style="margin-top: 30px;"></canvas>
          </div>
          <!--<div class="col-sm-4">
              <canvas id="businessInfoChart" class="chart chart-line" chart-data="contract.chartData2" chart-labels="contract.chartLabels2" chart-options="chartOptions" chart-dataset-override="datasetOverride" width="700" height="300" style="margin-top: 30px;"></canvas>
            </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
